* {
  font-family: "Josefin Sans";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #20C997;
}
body a {
  color: darkslategray;
  text-decoration: none;
  transition: 0.4s;
}
body ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  padding: 1.5rem 0;
  margin: 0 auto;
}
@media (max-width: 425px) {
  .header {
    padding: 1.1rem;
  }
}
.header-brand {
  color: #fff;
  font-size: 3rem;
}
.header-brand:hover {
  background-image: linear-gradient(to bottom, #20C997 0%, darkslategray 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}
.header-navbar ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 425px) {
  .header-navbar ul {
    display: block;
    width: 30%;
  }
}
.header-navbar ul li {
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.header-navbar ul li .active {
  color: #20C997;
}
.header-navbar ul li a:hover {
  color: lime;
}
.header-social-media ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
@media (max-width: 425px) {
  .header-social-media ul {
    display: none;
  }
}
.header-social-media ul li {
  margin: 0 1rem;
}
.header-social-media ul li a:hover {
  color: #fff;
}

@media (max-width: 425px) {
  .header-navbar ul {
    height: unset;
    display: unset;
    align-items: unset;
    justify-content: unset;
  }

  #menu-hamburguer {
    display: none;
  }

  .header-navbar ul li {
    margin: 0;
    text-transform: unset;
  }

  .menu {
    background-color: #000;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .hamburguer {
    position: relative;
    display: block;
    background: white;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
  }

  .hamburguer:before,
.hamburguer:after {
    background: white;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
  }

  .hamburguer:before {
    top: -10px;
  }

  .hamburguer:after {
    bottom: -10px;
  }

  input {
    display: none;
  }

  input:checked ~ label .hamburguer {
    transform: rotate(45deg);
    background: black;
  }

  input:checked ~ label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
    background: black;
  }

  input:checked ~ label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
    background: black;
  }

  .menu {
    cursor: pointer;
    transition: box-shadow 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  }

  input:checked ~ label .menu {
    opacity: 0.8;
    background-color: white;
    transition: 5s;
    transition: opacity 10s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 0 0 0 10%;
    box-shadow: -2rem 0 0 3rem white;
    transition: box-shadow 5s cubic-bezier(0.19, 1, 0.22, 1);
  }

  input:checked ~ ul {
    display: block;
    transition: 10s;
  }

  input:checked ~ ul a {
    display: block;
  }

  ul {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    transform: translate(-50%, -50%);
    list-style: none;
    font-size: 45px;
    transition: 2s 0.1s cubic-bezier(0, 1.07, 0, 1.02);
    z-index: 9;
  }

  .link-navbar {
    display: none;
    color: black;
    margin-left: 40%;
    text-align: right;
    font-size: 20px;
    text-decoration: none;
  }
}
.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1170px;
  padding: 1.5rem 0;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
@media (max-width: 425px) {
  .gallery {
    flex-direction: column;
  }
}
.gallery-card {
  width: 31%;
  height: 450px;
  margin-bottom: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
@media (max-width: 425px) {
  .gallery-card {
    width: 90%;
    margin-bottom: 6%;
  }
}
.gallery-card-title {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.gallery-card-btn {
  padding: 0.6rem 2rem;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.gallery-card-btn:hover {
  background-color: #fff;
  color: #000;
}
.gallery #card-1 {
  background-image: url("../img/animais.jpeg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
@media (max-width: 425px) {
  .gallery #card-1 {
    filter: none;
  }
}
.gallery #card-1:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/animais.jpeg");
}
.gallery #card-2 {
  background-image: url("../img/jogos.jpeg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
@media (max-width: 425px) {
  .gallery #card-2 {
    filter: none;
  }
}
.gallery #card-2:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/jogos.jpeg");
}
.gallery #card-3 {
  background-image: url("../img/cidades.jpeg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
@media (max-width: 425px) {
  .gallery #card-3 {
    filter: none;
  }
}
.gallery #card-3:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/cidades.jpeg");
}
.gallery #card-4 {
  background-image: url("../img/mobilia.jpeg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
@media (max-width: 425px) {
  .gallery #card-4 {
    filter: none;
  }
}
.gallery #card-4:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/mobilia.jpeg");
}
.gallery #card-5 {
  background-image: url("../img/carros.jpeg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
@media (max-width: 425px) {
  .gallery #card-5 {
    filter: none;
  }
}
.gallery #card-5:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/carros.jpeg");
}
.gallery #card-6 {
  background-image: url("../img/motos.jpeg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
@media (max-width: 425px) {
  .gallery #card-6 {
    filter: none;
  }
}
.gallery #card-6:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/motos.jpeg");
}

footer {
  text-align: center;
  padding-bottom: 2rem;
}
footer span {
  font-weight: bold;
  color: #fff;
}

/*# sourceMappingURL=style_pagina_inicial.css.map */
